body{
    overflow: hidden;
}
.canvas{
    height: 800px;
    width: 650px;
    background: lightblue;
    /* overflow: hidden; */

}
.ground{
    height:150px;
    width:650px;
    background:darkgreen;
    position: absolute;
    top: 800px;
    z-index: 2;
}

.bird{
    height: 60px;
    width: 100px;
    position: absolute;
    background-image: url("images/bird.png");
    background-size: cover;
}


.obstacle{
    height: 500px;
    width: 60px;
    background: green;
    position: absolute   ;
}